CONFIG_DEFAULT_HOSTNAME="kickstart"
CONFIG_ARCH_VEXPRESS=y
CONFIG_CMDLINE="console=ttyAMA0"
# CONFIG_GCC_PLUGINS is not set
CONFIG_PCI=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
# CONFIG_VEXPRESS_CONFIG is not set
CONFIG_VIRTIO_BLK=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_SQUASHFS=y
